extends layout
block content
	.contact(style='text-align: center;')
		img(src='./../images/logo.gif' height='300px' width='300px' alt='logo QI')
		address
			| 42, rue du Routeur
			br
			|  Saint-Lambert (Qu&eacute;bec)
			br
			|  J4S F37
			br
			b Téléphone: 438 607-3671
			br
			a(href='mailto:qi_contact@qi.ca')
				| Envoyer
				| un courriel