extends layout
block content
	.tableprep
		h1 Statut de la commande
		table
			thead
				tr
					th Numero de commande
					th Prénom
					th Ramassage
					th Statut
			tbody
			each cdejson in file
				if cdejson.numero == numcommande
					tr
						td #{cdejson.numero}
						td #{cdejson.prenom}
						td #{cdejson.ramassage}
						td #{cdejson.statut}